<p>client-list works! n</p>


<table border="1">

    <thead>


        <tr>
            <th>Id</th>
            <th>name</th>
            <th>email</th>
            <th>phoneNumber</th>
            <th> documentNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientlist">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.documentNumber}}</td>
        </tr>
    </tbody>
</table>